<div id="header-part">
    <div class="banner-bar">
        <%= image_tag("over-lay.png", :alt =>"", :class =>"overlay") %>
        <ul>
            <li><%= image_tag("bannre-img.png", :width =>"981", :height =>"298", :alt =>"") %></li>
            <li><%= image_tag("bannerimage2.jpg", :width =>"981", :height =>"298", :alt =>"") %></li>
        </ul>
    </div>
    <div class="logo">
        <%= image_tag("logo.png", :alt =>"") %>
    </div>
    <%= image_tag( "logo-img.png", :class => "image", :alt =>"") %>
    <%= image_tag( "STPLogo.png", :class => "apptitle", :alt =>"") %>
    <%#<a class="one" href="http://www.avikocup.com"><img src="img.png" alt="" /></a> %>
    <%#<a class="two" href="http://dui.avikocup.com"><img src="img-1.png" alt="" /></a> %>
    <%#<a class="three" href="http://eng.avikocup.com"><img src="img-2.png" alt="" /></a> %>
    <%#<a class="four" href="http://fra.avikocup.com"><img src="img-3.png" alt="" /></a> %>
</div>
