<%= form_for(@soccerfield) do |f| %>
  <% if @soccerfield.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@soccerfield.errors.count, "error") %> prohibited this soccerfield from being saved:</h2>

      <ul>
      <% @soccerfield.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :fieldcode %><br />
    <%= f.text_field :fieldcode %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :present %><br />
    <%= f.check_box :present %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
